<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.volcengine.vertcdemo.interactivelive">

    <!--    ijkplayer在android 21以下可能会使用不正常-->
    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64" />

    <application>
        <meta-data
            android:name="START_UP_INTERACTIVE_LIVE"
            android:value="com.volcengine.vertcdemo.interactivelivedemo.core.InteractiveLiveStartup" />

        <activity
            android:name="com.volcengine.vertcdemo.interactivelivedemo.feature.liveroomlist.LiveRoomListActivity"
            android:icon="@drawable/ic_interactive_live"
            android:label="@string/scene_interactive_live"
            android:screenOrientation="portrait"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="${applicationId}.category.SCENE" />
            </intent-filter>

            <meta-data
                android:name="scene_name_abbr"
                android:value="live" />
            <meta-data
                android:name="scene_sort"
                android:value="50" />
        </activity>
        <activity
            android:name="com.volcengine.vertcdemo.interactivelivedemo.feature.createroom.CreateLiveRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.volcengine.vertcdemo.interactivelivedemo.feature.liveroommain.LiveRoomMainActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>